{{ template "top" . }}
<p>
  SocialEcho is a minimalistic open-sourced social media platform, built using
  Golang.
</p>
<br />
<h2>About</h2>
<p>
  <b><i>SocialEcho</i></b> SocialEcho is a vibrant social media platform where users can share posts, follow others, and engage through comments and likes.
  Built for seamless interaction, it brings communities together in real time.
</p>
<p>
  <b>SocialEcho</b>
</p>
<br />
<!-- <h2>Contribute</h2>
<p>
  The project is open for contributions on
  <a href="https://github.com/Aniket52kr/GO-Assignment" target="_blank"
    ><b><u>GitHub</u></b></a
  >.
</p> -->
{{ template "bottom" . }}
